@model IEnumerable<WebApplication1.Models.Persoane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNasterii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPolitie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusMedic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusUniversitate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasterii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPolitie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusMedic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusUniversitate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cnp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cnp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cnp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
